@using HR.Application.Features.Companies.ViewModels;
@model CompanyCreateVM

@{
    ViewData["Title"] = "Şirket Ekle";
}
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #007bff;
    }

    .form-group label {
        font-weight: bold;
        color: #343a40;
    }

    .form-control {
        border-radius: 5px;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .btn-secondary {
        background-color: #6c757d;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }

    .alert-danger {
        margin-top: 20px;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        color: #721c24;
        padding: 10px;
    }
</style>
<h1 class="text-center">Şirket Ekle</h1>

<div class="container">
    <form asp-action="CreateCompany" asp-controller="Company" asp-area="Admin" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Logo" class="control-label">Logo</label>
                    <input id="fileInput" asp-for="Logo" type="file" class="form-control" onchange="return validateFile();" required />
                    <span asp-validation-for="Logo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Şirket Adı</label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Type" class="control-label">Şirket Tipi</label>
                    <input asp-for="Type" class="form-control" required />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Telefon</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" id="emailInput" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ContractStartDate" class="control-label">Sözleşme Başlangıç Tarihi</label>
                    <input asp-for="ContractStartDate" class="form-control" />
                    <span asp-validation-for="ContractStartDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ContractEndDate" class="control-label">Sözleşme Bitiş Tarihi</label>
                    <input asp-for="ContractEndDate" class="form-control" />
                    <span asp-validation-for="ContractEndDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="TaxNo" class="control-label">Vergi Numarası</label>
                        <input asp-for="TaxNo" class="form-control" />
                        <span asp-validation-for="TaxNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="TaxOffice" class="control-label">Vergi Dairesi</label>
                    <input asp-for="TaxOffice" class="form-control" />
                    <span asp-validation-for="TaxOffice" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MersisNo" class="control-label">Mersis Numarası</label>
                    <input asp-for="MersisNo" class="form-control" />
                    <span asp-validation-for="MersisNo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label">Adres</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EmployeesCount" class="control-label">Çalışan Sayısı</label>
                    <input asp-for="EmployeesCount" class="form-control" />
                    <span asp-validation-for="EmployeesCount" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EstablishmentYear" class="control-label">Kuruluş Yılı</label>
                    <input asp-for="EstablishmentYear"  class="form-control" />
                    <span asp-validation-for="EstablishmentYear" class="text-danger"></span>
                </div>
            
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessage"]
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Oluştur" class="btn btn-primary" HorizontalAlignment="Center" />
            </div>
        </div>

    </form>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function validateFile() {
            var fileInput = document.getElementById('fileInput'); // İlgili input elementinin id'si
            var fileName = fileInput.value;
            var fileSize = fileInput.files[0].size; // Dosya boyutu bytes cinsinden

            // Dosya türü kontrolü
            var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
            if (!allowedExtensions.test(fileName)) {
                alert('Hata: Sadece JPEG ve PNG dosyaları yükleyebilirsiniz.');
                fileInput.value = '';
                return false;
            }

            // Dosya boyutu kontrolü (25 MB)
            var maxSize = 25 * 1024 * 1024; // 25 MB
            if (fileSize > maxSize) {
                alert('Hata: Dosya boyutu 25 MB\'dan büyük olamaz.');
                fileInput.value = '';
                return false;
            }

            // Bilgi mesajı
            alert('Başarıyla yüklendi: ' + fileName);

            // Geçerli dosya
            return true;
        }
    </script>

}