@using HR.Application.Features.Permission.ViewModels
@model PermissionRequestCreateVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "CreatePermissionRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-6 offset-lg-3 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">İzin Talebi Oluştur</h4>
            <form asp-action="CreatePermissionRequest" class="forms-sample">

                <div class="form-group" hidden>
                    <label asp-for="PersonnelId">Kullanıcı ID</label>
                    <input asp-for="PersonnelId" type="text" class="form-control" placeholder="Kullanıcı ID" />
                    <span asp-validation-for="PersonnelId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate">Başlangıç Tarihi</label>
                    <input asp-for="StartDate" type="date" step="0.01" class="form-control" placeholder="Başlangıç Tarihi">
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate">Bitiş Tarihi</label>
                    <input asp-for="EndDate" type="date" step="0.01" class="form-control" placeholder="Bitiş Tarihi">
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PermissionTypeId">İzin Türü</label>
                    <select asp-for="PermissionTypeId" asp-items="@(new SelectList(Model.PermissionList, "Id", "Name"))" class="form-control custom-select"></select>
                    <span asp-validation-for="PermissionTypeId" class="text-danger"></span>
                </div>
                <input type="submit" value="Kaydet" class="btn btn-primary me-2" asp-action="GetAllPermissions" asp-controller="Permission" asp-area="Personnel" />
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



