@using HR.Application.Features.Permission.ViewModels
@model PermissionRequestCreateVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "İzin Talebi Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
     .btn-primary {
        background-color: #5D54A4;
        border-color: mediumpurple;
        color: black;
    }

        .btn-primary:hover {
            background-color: mediumpurple;
            border-color: mediumpurple;
        }

</style>
<div class="col-lg-6 offset-lg-3 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="color : #5D54A4;">İZİN TALEBİ OLUŞTUR</h4>
            <form asp-action="CreatePermissionRequest" class="forms-sample">

                <div class="form-group" hidden>
                    <label asp-for="PersonnelId">Kullanıcı ID</label>
                    <input asp-for="PersonnelId" type="text" class="form-control" placeholder="Kullanıcı ID" />
                    <span asp-validation-for="PersonnelId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PermissionTypeId">İzin Türü</label>
                    <select asp-for="PermissionTypeId" class="form-control">
                        <option value="" disabled selected>-- İzin Türü Seçin --</option>
                        @foreach (var permission in Model.PermissionList)
                        {
                            <option value="@permission.Id"> @permission.Name </option>
                        }
                    </select>
                    <span asp-validation-for="PermissionTypeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StartDate">Başlangıç Tarihi</label>
                    <input asp-for="StartDate" type="date" class="form-control custom-select" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" required />
                    <span id="startDateError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Days">Gün</label>
                    <input asp-for="Days" type="text" class="form-control custom-select" />
                    <span asp-validation-for="Days" class="text-danger"></span>
                </div>

                <input type="submit" value="Talep Oluştur" class="btn btn-primary me-2" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // İzin türü değiştikçe çağrılacak fonksiyon
            $("#PermissionTypeId").change(function () {
                setDayCount();
            });

            // Sayfa yüklendiğinde çağrılacak fonksiyon
            setDayCount();
            $("#StartDate").change(function () {
                setDate();
            });
        });

        function setDate() {
            var selectedDate = $("#StartDate").val();
            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate());

            if (new Date(selectedDate) <= tomorrow) {
                $("#startDateError").text("En erken izin talebi yarın için oluşturulabilir!");
                e.preventDefault(); // Form submit işlemi durdurulur
            } else {
                $("#startDateError").text(""); // Hata mesajını temizle
            }
        }
        function setDayCount() {
            // Seçilen izin türünü al
            var permissionType = $("#PermissionTypeId").val();

            // Eğer izin türü "Doğum İzni" ise gün sayısını 112 olarak ayarla
            if (permissionType === "7f5be4b4-edf7-425b-861f-b1e8c8262834") {
                $("#Days").val(112);
                $("#Days").prop("disabled", true); // Gün sayısı input'unu devre dışı bırak
            }
            else if (permissionType === "91001820-e2c6-4161-a452-2183d4c0b727") {
                $("#Days").val(3);
                $("#Days").prop("disabled", true);
            }
            else if (permissionType === "3cb501df-cd5a-4e1c-9ce8-82a34130a566") {
                $("#Days").val(3);
                $("#Days").prop("disabled", true);
            }
            else if (permissionType === "e828a8d7-5d5e-4db2-bff6-089f741f24c3") {
                $("#Days").val(5);
                $("#Days").prop("disabled", true);
            }
            else {
                // Diğer izin türlerinde gün sayısını kullanıcıya bırak
                $("#Days").val("");
                $("#Days").prop("disabled", false); // Gün sayısı input'unu aktif hale getir
            }
        }


    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}