<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/00d7bfd8-be54-4e06-8e95-38a57fb10bb8/resourcegroups/HRPresentation20231207221613ResourceGroup/providers/Microsoft.Web/sites/ikizlemehrr</ResourceId>
    <ResourceGroup>HRPresentation20231207221613ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ikizlemehrr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>6a13c1f9-7ab5-4b6a-a828-318c27d74646</ProjectGuid>
    <PublishUrl>https://ikizlemehrr.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ikizlemehrr</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>