@using HR.Application.Features.Login
@model UserPasswordUpdateVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Şifre Değiştirme</title>

    <link rel="stylesheet" href="~/css/LoginStyleSheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="screenpassword">
            <div class="screen__content">

                <form class="login" style="padding-top: 100px" method="post">
                    <span><h5><b>Şifre Değiştirme Paneli</b></h5></span>

                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" id="fakePasswordCurrent" placeholder="Mevcut Şifre" asp-for="@Model.CurrentPassword" required>
                        <span><i id="togglerCurrent" class="far fa-eye"></i></span>
                        <div style="display: block;" id="errorDiv">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- NewPassword -->
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" id="fakePasswordNew" placeholder="Yeni Şifre" asp-for="@Model.NewPassword" required />
                        <span><i id="togglerNew" class="far fa-eye"></i></span>
                        <div style="display: block;">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- NewPasswordConfirm -->
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" id="fakePasswordConfirm" placeholder="Yeni Şifre Tekrarı" asp-for="@Model.NewPasswordConfirm" required />
                        <span><i id="togglerConfirm" class="far fa-eye"></i></span>
                        <div style="display: block;">
                            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                        </div>
                    </div>

                    <button class="button login__submit">
                        <span class="button__text">Kaydet</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
            </div>
            <div class="screen__background">
                @*  <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>*@
            </div>
        </div>
    </div>

    <script>
        var passwordCurrent = document.getElementById('fakePasswordCurrent');
        var togglerCurrent = document.getElementById('togglerCurrent');
        var passwordNew = document.getElementById('fakePasswordNew');
        var togglerNew = document.getElementById('togglerNew');
        var passwordConfirm = document.getElementById('fakePasswordConfirm');
        var togglerConfirm = document.getElementById('togglerConfirm');

        showHidePassword = (password, toggler) => {
            if (password.type == 'password') {
                password.setAttribute('type', 'text');
                toggler.classList.add('fa-eye-slash');
            } else {
                toggler.classList.remove('fa-eye-slash');
                password.setAttribute('type', 'password');
            }
        };

        togglerCurrent.addEventListener('click', () => showHidePassword(passwordCurrent, togglerCurrent));
        togglerNew.addEventListener('click', () => showHidePassword(passwordNew, togglerNew));
        togglerConfirm.addEventListener('click', () => showHidePassword(passwordConfirm, togglerConfirm));
    </script>

    <script src="~/jquery/jquery.slim.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
